@import "tailwindcss";

@font-face {
  font-family: 'Europa Medium';
  src: url('/fonts/Europa_Grotesk_Medium.otf') format('opentype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Europa Regular';
  src: url('/fonts/Europa_Grotesk_Regular.otf') format('opentype');
  font-weight: normal;
  font-display: swap;
}

@theme {
  --font-medium: "Europa Medium", sans-serif;
  --font-regular: "Europa Regular", sans-serif;
  
  --spacing-xs: 4px;
  --spacing-sm: 8px;

}


body {
  font-family: var(--font-regular);
  background-color: #0A0A0A;
  color: white;
}